.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}
/* Modalreply */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  .modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1rem;
    font-size: 20px;
  }
  h3 {
    text-align: center;
  }
}
