.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background: #fff;
  width: 700px;
  max-width: 92%;
  border-radius: 12px;
  padding: 28px 24px;
  position: relative;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);
  animation: slideDown 0.3s ease;
}

.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #888;

  &:hover {
    color: #333;
  }
}

.header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #c62828;
  text-align: center;
}

.price {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 14px;
  width: 100%;

  .formGroup {
    flex: 1; // chia đều 2 cột
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #444;
  display: block;
  text-align: left;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;

  &:focus {
    border-color: #c62828;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 12px;
}

.cancelBtn,
.confirmBtn {
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.cancelBtn {
  background: #e32929;
  color: #9c1b1b;
}

.confirmBtn {
  background: #c62828;
  color: #fff;

  &:hover {
    background: #a62222;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
