.reviews {
  margin-top: 40px;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;

  h3 {
    display: inline-block;
    text-align: center;
    color: #010507;
    font-size: 22px;
    margin-bottom: 15px;
    background-color: #0ff147;
    height: 40px;
    border-radius: 9999px;
  }
}

.overallRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-size: 18px;
  margin-bottom: 10px;

  .score {
    font-size: 28px;
    font-weight: bold;
    color: #f39c12;
  }

  .stars {
    cursor: pointer;
    color: #f1c40f;
    margin-left: 10px;
  }
}

.ratingBreakdown {
  margin-bottom: 20px;

  .ratingRow {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;

    .progress {
      background: #eee;
      flex: 1;
      height: 6px;
      border-radius: 3px;
      overflow: hidden;

      div {
        background: #f1c40f;
        height: 100%;
      }
    }
  }
}

.commentList {
  margin: 15px 0;
  .comment {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    color: #000000;
    text-align: left;

    .commentAuthor {
      font-weight: 500;
      color: #0f99bc;
      text-align: center;
    }
  }
}

.addReview {
  border-top: 1px solid #ddd;
  padding-top: 15px;

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input,
    select,
    textarea {
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 8px;
      font-size: 15px;
    }

    button {
      background: #007bff;
      color: #fff;
      border: none;
      border-radius: 6px;
      padding: 8px 0;
      cursor: pointer;
      font-weight: 600;
      transition: 0.3s;

      &:hover {
        background: #0056b3;
      }
    }
  }
}
