button {
  background-color: rgb(9, 164, 84) ;
  color: white !important;
  border: none !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out;
}
